<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myproyect.android_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mi Horario"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <!-- Actividad principal -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad para consultar el horario -->
        <activity android:name=".ViewScheduleActivity" />

        <!-- Actividad para consultar qué clase está en curso -->
        <activity android:name=".CurrentClassActivity" />

        <!-- Actividad para agregar asignaturas y horarios -->
        <activity android:name=".AddSubjectActivity" />
    </application>

</manifest>
